#wrapper{
    width: 100%;
    margin: auto;
    min-height: 100dvh;
}
#logo{
    max-height: 100px;
    height: auto;
    width: auto;
}
main{
    padding: 20px;
}
@media (max-width: 767px) {
    .navbar-nav .nav-link {
      padding: 12px 20px;
      text-align: center;
    }
    .navbar-toggler {
      margin-bottom: 16px;
    }
}
main img{
  max-height: 400px;
    height: auto;
    width: auto;
}