#wrapper{
    width: 100%;
    margin: auto;
    min-height: 100dvh;
}
#logo{
    max-height: 100px;
    height: auto;
    width: auto;
}
main{
    padding: 20px;
}
@media (max-width: 767px) {
    .navbar-nav .nav-link {
      padding: 12px 20px;
      text-align: center;
    }
    .navbar-toggler {
      margin-bottom: 16px;
    }
}
main img{
  max-height: 400px;
    height: auto;
    width: auto;
}
.btn-outline-primary{
  color: #494a22 !important;
  border-color: #494a22 !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
  color: #fff !important;
  background-color: #494a22 !important;
  border-color: #494a22 !important;
}
.custom-shadow-olive{
  box-shadow: 0 0.5rem 1rem rgba(73, 74, 34, 0.5);
}
.carousel-inner{
    max-width: 500px;
    margin: auto;
  }
.carousel-inner img{
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}
#skiplink a {
  padding: 6px;
  position: absolute;
  top: 0;
  left: -500px;
  background-color: #d1d1d1;
  color: #000000;
  text-decoration: none;
  border-bottom-right-radius: 8px;
}
#skiplink a:focus{
  z-index: 10000;
  left: 0;
}