{% extends 'base_admin.html' %}

{% block title %}Products{% endblock %}

{% block main %}
<div class="container my-4">
    <div class="d-flex justify-content-end mb-3">
    <a href="{{ url_for('admin.add_product') }}" class="btn btn-success">
        Add Product
    </a>
    </div>
    <h1 class="mb-4">Products</h1>
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="list-group">
                <a href="{{ url_for('admin.products') }}" class="list-group-item list-group-item-action {% if selected_active is none %}active{% endif %}">
                    All
                </a>
                <a href="{{ url_for('admin.products', active='true') }}" class="list-group-item list-group-item-action {% if selected_active == 'true' %}active{% endif %}">
                    Active
                </a>
                <a href="{{ url_for('admin.products', active='false') }}" class="list-group-item list-group-item-action {% if selected_active == 'false' %}active{% endif %}">
                    Inactive
                </a>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-striped table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.batches | map(attribute='stock_quantity') | sum }}</td>
                        <td>
                            <a href="{{ url_for('admin.product', product_sku=product.sku) }}" class="btn btn-primary btn-sm">
                                View
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
