{% extends "base_admin.html" %}

{% block main %}
<div class="container my-4">
    <h1 class="mb-4">Add Stock Batch</h1>
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.product_sku.label(class="form-label") }}
            {{ form.product_sku(class="form-select") }}
        </div>
        <div class="mb-3">
            {{ form.stock_quantity.label(class="form-label") }}
            {{ form.stock_quantity(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.stock_location.label(class="form-label") }}
            {{ form.stock_location(class="form-control", size=40) }}
        </div>
        <div class="mb-3">
            {{ form.expiry_date.label(class="form-label") }}
            {{ form.expiry_date(class="form-control", type="date") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
</div>
{% endblock %}
