{% extends "base.html" %}

{% block meta %} 
        
{% endblock %}

{% block title %}Order Success{% endblock %}

{% block main %}
            <div class="container my-4 text-center">
                <h2>Thank you for your order, {{ order.first_name }}!</h2>
                <p>Your order number is <strong>#{{ order.order_reference }}</strong></p>
                <p>A confirmation email will be sent to {{ order.email }} shortly.</p>
            </div>
            
{% endblock %}

{% block extra_script %}
<script>
    localStorage.removeItem("cart");
</script>
{% endblock %}