{% extends "base.html" %}

{% block meta %} 
        
{% endblock %}

{% block title %}Store{% endblock %}

{% block main %}
    <h1>Pickle Polona Store</h1>

    <div>
        {% for product in products %}
        <div>
            <img src="{{ url_for('static', filename=product.image_main) }}" alt="{{ product.name }} image">
            <h3>{{ product.name }}</h3>
            <p class="price">€{{ "%.2f"|format(product.price) }}</p>
            <a href="{{ url_for('store.item', product_sku=product.sku) }}">
                <button type="button">View</button>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}